<style>
  body{
      background-color: #333B44;
  }

  .confirmBtn{
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      margin-top: 1em;
      width: 9em;
      color: white;
      box-shadow: 3px 3px 2px 1px rgb(19, 31, 40);
      background-color: rgb(29, 141, 109);
      border-color: rgb(29, 141, 109);
  }

  h2.crearH2{
      margin-top: 0px;
      margin-bottom: 19px;
  }

  .loginBtn{
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      margin-top: 1em;
      width: 9em;
      color: rgb(29, 141, 109);
      box-shadow: 3px 3px 2px 1px rgb(19, 31, 40);
      margin-left: -1.8em;
  }

  .menuOhana{  
      background-color: rgb(19, 31, 40);
  }

  .padCont{
      padding-top: 122px;
      display: block;
  }

</style>


<div class="container center-block padCont"> 
  <div class="col-lg-offset-3 col-lg-6 col-lg-offset-3">   
    <div class="panel panel-default">
      <div class="panel-body">
        <h2 class="crearH2">Crear cuenta</h2>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <div class="field form-group">
              <%= f.label :nombre %>
              <%= f.text_field :nombre, autofocus: true, :class => "form-control", :placeholder => "Ingrese su nombre", :required => true %>
            </div>

            <div class="field form-group">
              <%= f.label :apellido %>
              <%= f.text_field :apellido, autofocus: true, :class => "form-control", :placeholder => "Ingrese su apellido", :required => true %>
            </div>

            <div class="field form-group">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Ingrese su email", :required => true %>
            </div>

            <div class="field radio">
              <label>
                <%= f.radio_button :rol, 'Arrendador'%>
                Arrendador
              </label> 
            </div>

            <div class="field radio">
              <label>
                <%= f.radio_button :rol, 'Arrendatario'%>
                Arrendatario
              </label> 
            </div>

            <div class="field form-group">
              <%= f.label 'Contraseña'%>
              <% if @minimum_password_length %>
              <p class="help-block">(<%= @minimum_password_length %> caracteres mínimo)</p>
              <% end %>
              <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Ingrese su contraseña", :required => true %>
            </div>

            <div class="field form-group">
              <%= f.label 'Confirme su contraseña' %>
              <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder => "Repita su contraseña", :required => true %>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="actions">
                  <%= f.submit "Registrarse", :class => "btn btn-default confirmBtn" %>
                </div>
              </div>
              <div class="col-lg-offset-3 col-lg-3">
                <a href="/usuarios/sign_in" class="btn btn-default loginBtn" role="button" aria-pressed="true">Iniciar sesión</a>
              </div>
            </div>
            
          <% end %>
          
        <!--<% unless notice.nil? %>
          <div class="alert alert-warning notice" role="alert"><%= notice %></div>
        <% end %>
        <% unless alert.nil? %>
          <div class="alert alert-danger alert" role="alert"><%= alert %></p>
        <% end %>-->
      </div>
    </div>
  </div>
</div>


