
<%= button_to('Explorar', galleries_path, method: :get , class: "btn btn-default btn-lg")%>

</br>
<h3>Favoritos</h3>


<div class="container centradito">

<% @likes.each do |like| %>
<div class="well">
  <p>Título de la propiedad: <%= Property.find(like.propiedad_id).title %></p>
  <p>Precio: $<%= Property.find(like.propiedad_id).price %></p>
  <p>Arrendador: <%= Usuario.find(Arrendador.find(Property.find(like.propiedad_id).arrendador_id).usuario_id).email %></p>
  <p>Descripción: <%= Property.find(like.propiedad_id).description%></p>
  <%= button_to('Contactar a propietario', new_mensaje_path, method: :get , class: "btn btn-default btn-lg")%>
  </br>
  <%= link_to "Eliminar", like_path(like),method: :delete, data: {confirm: 'Estas seguro?'}, :class => 'btn btn-danger' %>
</div>

<% end %>	
</div>