<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  
    <title>Ohana</title>
    <%= favicon_link_tag 'ohana_favicon.ico' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-spy="scroll" data-target="#navbar-collapse-1" data-offset="70">
    <nav class="navbar navbar-default navbar-fixed-top menuOhana">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to (image_tag("ohana_logo.png", :alt => "logo Ohana", :class => "logoHead")), root_path, :class => "navbar-header" %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right ulNav">
            <li id="liInicio"> <%= link_to 'Inicio', root_path, id: "linkInicio" %> </li>
            <li id="liQue"> <%= link_to '¿Qué es Ohana?', root_path + "#que", id: "linkQue" %> </li>
            <li id="liComo"> <%= link_to '¿Cómo funciona Ohana?', root_path + "#como", id: "linkComo" %> </li>
            <% if rol_usuario == 'Arrendador' %>
                <li> <%= link_to "Mis propiedades", properties_path %></li>
                <li> <%= link_to "Agregar propiedad", new_property_path %></li>
            <%else%>
                <li> <%= link_to "Explorar", galleries_path %></li>
            <% end %>

            <% if usuario_signed_in? %>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_usuario.nombre+'  '%><span class="caret"></span></a>
          <ul class="dropdown-menu">
                  <li><a href="users/profile"> Mi perfil</a></li>
                  <li><%= link_to('Editar mi perfil', edit_usuario_registration_path, :method => :get) %></li>
                  <li role="separator" class="divider"></li>
                    <li><%= link_to('Cerrar sesión', destroy_usuario_session_path, :method => :delete) %></li>
                  </ul>
                  
                  </ul>
                <% else %>
                  <li>
                  <%= link_to('Iniciar sesión', new_usuario_session_path)  %>  
                  </li>
                  <li>
                  <%= link_to('Crear cuenta', new_usuario_registration_path)  %>
                  </li>
            <% end %>


          </ul>
        </div><!-- /.navbar-collapse -->
        <div id="flash_messages">
            <% flash.each do |key, value| %>
                <div class="<%= flash_class(key) %>">
                      <%= value %>
                </div>
          <% end %>
          </div>
      </div><!-- /.container-fluid -->
    </nav>

    
  
    <div class="container" style="padding-top:130px">
    <%= yield %>
    </div>
  </body>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->

  <script src="http://hammerjs.github.io/dist/hammer-time.min.js"></script>

</html>
